h1 {
	font-style: italic;
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

q1 {
	font-style: italic;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

q2 {
	font-style: italic;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
	text-align: center;
}

p {
	margin-right: 80px;
	margin-left: 80px;
	font-style: normal;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
	text-align: left;
}

p3 {
	font-style: normal;
	font-size: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

p5 {
	font-style: normal;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

p6 {
	font-style: normal;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
	text-align: left;
}
	
a:link, a:visited {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	padding: 14px 25px 14px 25px;
	margin: 3.5px 0px 3.5px 0px;
	min-width: 100px;
	text-align: center; 
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 8px;
	animation-name: rehover;
	animation-duration: 0.2s;
	animation-timing-function:ease-out;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

a:hover, a:active {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	padding: 14px 25px 14px 25px;
	margin: 3.5px 0px 3.5px 0px;
	min-width: 100px;
	text-align: center; 
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	animation-name: hover;
	animation-duration: 0.2s;
	animation-timing-function:ease-out;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

floatr {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

floatl {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

fixed {
	position: sticky;
}


@keyframes hover {
	from {	
		background-color: rgba(0, 0, 0, 0.5);
		color: #ffffff;
		border-color: #000000;
		top: 8px;
	}
	
	to {	
		background-color: rgba(255, 255, 255, 0.5);
		color: #444444;
		border-color: #ffffff;
		top: 20px;
	}
}

@keyframes rehover {
	from {
		background-color: rgba(255, 255, 255, 0.5);
		color: #444444;
		border-color: #ffffff;
		top: 20px;
	}
	
	to {
		background-color: rgba(0, 0, 0, 0.5);
		color: #ffffff;
		border-color: #000000;
		top: 8px;
	}
}
